<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MAD_0._1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="ApplicationServices"
    connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
    providerName="System.Data.SqlClient" />
		<add name="SQL"
    connectionString="data source=LAPTOP-ALUMNO;Initial Catalog=Grupo03DB;User ID=sa;Password=abc123"
    providerName="System.Data.SqlClient" />
		<add name="mad"
    connectionString="data source=DESKTOP-RJRKE42\SQLEXPRESS;Initial Catalog=MAD;persist security info=True;Integrated Security=SSPI"
    providerName="System.Data.SqlClient" />
	 <add name="biblia"
    connectionString="data source=DESKTOP-RJRKE42\SQLEXPRESS;Initial Catalog=DB_Bible;persist security info=True;Integrated Security=SSPI"
    providerName="System.Data.SqlClient" />
		<add name="Excel03ConString"
   connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
		<add name="Excel07ConString"
   connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
	</connectionStrings>
 <userSettings>
  <MAD_0._1.Properties.Settings>
   <setting name="Correo" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
   <setting name="Recordar" serializeAs="String">
    <value>False</value>
   </setting>
  </MAD_0._1.Properties.Settings>
 </userSettings>
</configuration>